/**
 * Show grid.
 */
@import "grid-float.less";

.inner-wrap {
    .container();
    @gridWidth: 950px;
    margin-top: 5px;
    @gridImage:
    "../img/grid/grid940x12x60x20-nomargin.png";
    html.vgrid & {
        .showGrid(@gridWidth, @gridImage);
    }

}

.row {
    .row(950px);
}

.sidebar {
    .column(3);
    float: left;
}

.main {
    display: inline-block;
    .column(9);
}

.footer-column-wrapper {
    .column(12);
}

.footer-column {
    .column(4);
    position: relative;
    float: left;
    margin-bottom: 1em;
}

.site-footer {
    .column(12);
}

.typographyGrid(@maxWidth: 950px) {
    background: url(../img/grid/horisontal-grid-24.png) repeat center center;
    margin-left: auto;
    margin-right: auto;
    max-width: @maxWidth;
}

.article, .blog-list {
    html.hgrid & {
        .typographyGrid(950px);
    }
}
