/**
* Anax Flat theme.
*/
@import url(base.less);

@import url('https://fonts.googleapis.com/css?family=Cinzel');

//Personal theme (default)
body {
    background-color: #f1f1f1;
}

.wrap-all {
    border-radius: 20px;
}

.navbar2 {
    float: left;
    padding-left: 5px;
    li {
        a {
            display: inline-block;
            border: 1px solid #C7D5DE;
            margin: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-decoration: none;
            box-shadow: 0 0 1em grey;
            opacity: 0.6;
        }
        a:visited {
            color: black;
            text-decoration: none;
        }
        a:hover {
            background-color: #dbdbdb;
            text-decoration: none;
            opacity: 1;
            color: black;
        }
    }
}

table {
    margin: @magicnumber;
}

a {
    text-decoration: none;
}

a.link {
    color: #62607A;
    text-decoration: none;
}

a:visited {
    color: #00C200;
    text-decoration: none;
}

a:hover {
    color: #99E799;
    text-decoration: none;
}

a:active {
    color: #000;
    text-decoration: none;
}

.article {
    a {
        text-decoration: none;
    }
    li {
        font-size: 16px;
    }

    legend {
        font-style: italic;
    }

    h1, h2 {
        text-shadow: 0 0 25px grey, 0 0 5px grey;
    }
    h1, h2, h3, h4, h5, h6 {
        color: black;
        font-family: "Cinzel";
    }
}

.footer-column-wrapper {
    background-color: #DDE6EB;
    box-shadow: 0 0 25px #B7B6CD, 0 0 5px grey;
}

.sidebar {
    ul {
        list-style-type: circle;
    }
}

.author-byline {
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    color: grey;

    a.link {
        color: #62607A;
    }

    a:visited {
        color: #969696;
    }

    a:hover {
        color: #B7B6CD;
        text-decoration: none;
    }

    a:active {
        color: #000;
    }
}

.footer-column {
    h4 {
        font-family: "Cinzel";
    }
    a {
        font-size: 14px;
    }
    a.link {
        color: #6e8693;
    }

    a:visited {
        color: #6e8693;
    }

    a:hover {
        color: #B7B6CD;
        text-decoration: none;
    }

    a:active {
        color: #000;
    }
}
